 body{background-color:beige;}
            img{display:block;
                margin-left:auto;
                margin-right:auto;}
            
            h1{color:black;
                text-align: center;
            font-size:40px}
            h2{color:black;
            font-size:35px;
            padding-left: 25px}
            section{color:black;
            font-size: 27px}
            p{font-size:20px}
            div{padding-left:25px}