body {
        background-image: url(https://framapiaf.s3.framasoft.org/framapiaf/media_attachments/files/000/054/932/original/36f955e963a448e6.jpg);
}
.navbar{
    color:white;
    margin-bottom:5px
}
nav a{
    color:white;
}
.navbar-brand{
    color:white;
}
h4{
    color:white
}
#Compétences{
    color:black;
}
.box4{
    color:white;
}